/* colors */
$primary-color: #404040;

/* fonts */
$primary-font: 'Open Sans', sans-serif;

/* font sizes */
$fontsize-h1                : 40px;
$fontsize-h2                : 24px;

/* font weights */
$fontweight-bold: 800;
$fontweight-regular: 400;